#myCanvas {
    padding: 100px;
    margin-right: auto;
    margin-left: auto; 
}

body {
    background-image: url("https://pisces.bbystatic.com/image2/BestBuy_US/images/products/5721/5721500cv12d.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
}

a:active, a:link, a:visited {
    color: white
}
  
a:hover {
    color: white;
    font-size: 51px;
    text-decoration: underline;
}

h1 {
    color: white;
    font-size: 50px;
}

.play {
    background-color: rgba(0,0,0,.5);
    color: white;
    display: none;
    padding: 20px;
    position: fixed;
    margin: 100px;
}

h1:hover + .play {
    display: block;
}

h1, a {
    margin-left: 55px;
}

h2 {
    font-family: 'Cinzel', serif;
    color: white;
    font-size: 115px;
    position: fixed;
    right: 30px;
    bottom: 0;
}